@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
	box-sizing: border-box;
	margin: 0;
}

.link {
	display: block;
	text-align: center;
	color: #777;
	text-decoration: none;
	padding: 10px;
}

.locandina {
	text-align: center;
	margin-top: 55px;
	width: 400px;
}

.header-film {
	text-align: center;
	/* transform: translateX(-57px); */
}

#favorite-button {
	outline: none;
	border: none;
	color: black;
	font-size: xx-large;
	background: none;
	float: right;
}

#favorite-button:hover {
	cursor: pointer;
}

.movie_card .info_section {
	position: relative;
	width: 100%;
	height: fit-content;
	background-blend-mode: multiply;
	z-index: 2;
	border-radius: 10px;
}

.movie_card .info_section .movie_header {
	position: relative;
	padding: 25px;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie_card .info_section .movie_header h1 {
	color: black;
	font-weight: 400;
	text-align: center;
	margin-left: 325px;
}

.movie_card .info_section .movie_header h4 {
	color: black;
	font-weight: 400;
	text-align: center;
	margin-left: 320px;
}

.movie_card .info_section .movie_header h3 {
	color: black;
	font-weight: 400;
	text-align: center;
	margin-left: 320px;
	font-size: x-large;
}

.movie_card .info_section .movie_header h5 {
	color: black;
	font-weight: 300;
	text-align: center;
	margin-left: 320px;
	font-size: medium;
}

.movie_card .info_section .movie_header .minutes {
	display: inline-block;
	margin-top: 15px;
	color: black;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	text-align: center;
	margin-left: 445px;
}

.movie_card .info_section .movie_header .type {
	display: inline-block;
	color: black;
	text-align: center;
	margin-left: 485px;
	font-size: x-large;
}

.movie_card .info_section .movie_header .locandina {
	height: 400px;
	width: 300px;
	box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_card .info_section .movie_desc {
	/* width: 125%;
	margin-top: 805px;
    font-size: larger;
    text-align: center;
    margin-left: 75px;
    color: black; */
}

.movie_desc p {
	font-size: larger;
}

.actors {
	position: absolute;
	left: 350px;
	top: 160px;
}

.movie_desc {
	position: absolute;
	top: 340px;
	left: 2px;
	margin-top: 15px;
}

.movie_card .info_section .movie_desc .text {
	color: black;
	margin-bottom: -5px;
}

.text {
	/* display: inline-block;
  overflow: hidden;
  /* margin-left: 320px; */
	color: black;
}

.movie_card .info_section .movie_social {
	height: 10%;
	padding-left: 15px;
	padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
	list-style: none;
	padding: 0;
}

.movie_card .info_section .movie_social ul li {
	display: inline-block;
	color: rgba(0, 0, 0, 0.3);
	transition: color 0.3s;
	transition-delay: 0.15s;
	margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
	transition: color 0.3s;
	color: rgba(0, 0, 0, 0.7);
}

.movie_card .info_section .movie_social ul li i {
	font-size: 19px;
	cursor: pointer;
}

.movie_card .blur_back {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	right: 0;
	background-size: cover;
	border-radius: 11px;
}

p {
	color: black;
}

.year-released {
	color: black;
}

.video-div {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating {
	/* width: 250px; */
	margin: 0 auto 1em;
	font-size: 45px;
	overflow: hidden;
}

.rating input {
	/* float: right;
opacity: 0;
position: absolute; */
}

.rating a, .rating label {
	/* float:right; */
	color: rgb(97, 96, 96);
	text-decoration: none;
	transition: color .4s;
}

.rating label:hover~label, .rating input:focus~label, .rating label:hover, .rating a:hover, .rating a:hover~a, .rating a:focus, .rating a:focus~a {
	color: orange;
	cursor: pointer;
}

.rating2 {
	direction: rtl;
}

/* 
 @media screen and (min-width: 768px) {
	
}
 @media screen and (max-width: 768px) {
	
} */

.movie_card {
	position: relative;
	display: block;
	border-radius: 10px;
	transition: all 0.4s;
	box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
	width: 85%;
	height: auto;
	background: linear-gradient(75deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
	background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
	margin: auto;
}

/* 
.movie_card {
	background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
	display: inline-grid;
} */

.blur_back {
	width: 100%;
	background-position: 50% 50% !important;
}

.movie_header {
	width: 100%;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.movie_desc {
	width: 100%;
}

.movie_desc {
	width: 100%;
}

.blur_back {
	width: 80%;
	background-position: -100% 10% !important;
}

.bright_back {
	background: url("https://captaindroid.com/wp-content/uploads/2019/02/530968-cool-theater-backgrounds-1920x1080-for-xiaomi.jpg");
}

.loved-it {
	margin-top: 25px;
}

.fa-heart:hover {
	color: red;
}

.plot {
	margin-top: 25px;
	width: 60%;
	font-size: 13px;
	font-weight: 500;
}

.plot-prefix {
	font-size: 16px;
}

/* .tomb_back {
	 background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}
 .ave_back {
	 background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}
  */