<main>
    <div class="team-title-container">
        <h2 id="TeamName" style="color: white;">Avengers Squad</h2>
    </div>
    <div class="photos">

        <div class="tile ">
            <img
                src='https://avatars.githubusercontent.com/u/54035970?s=400&u=80d77d767c3c7997a9ae1ccb7008bd218825d8c7&v=4' />
            </a>
            <div class="text">
                <h2 class="animate-text">Anas Sawalha</h2>
                <a href="https://github.com/anassawalha95" target="_blank"><i
                        class="fab fa-github fa-3x circle-icon animate-text "></i></a>
            </div>
        </div>
        <div class="tile">
            <img
                src='https://avatars.githubusercontent.com/u/76392857?s=400&u=97f3cebcc9febf12c9e6229a0902a41ca7f1cebe&v=4' />
            <div class="text">
                <h2 class="animate-text">Aseel Banna</h2>
                <a href="https://github.com/Aseel-Banna" target="_blank"><i
                        class="fab fa-github fa-3x circle-icon animate-text "></i></a>
            </div>
        </div>
        <div class="tile">
            <img
                src='https://avatars.githubusercontent.com/u/76393354?s=400&u=4fa2b49d6cd264ab81ecf7a3daf21201b85afc72&v=4' />
            <div class="text">
                <h2 class="animate-text">Baha zghayar</h2>
                <a href="https://github.com/bahazghayar" target="_blank"><i
                        class="fab fa-github fa-3x circle-icon animate-text "></i></a>
            </div>
        </div>

        <div class="tile ">
            <img
                src='https://avatars.githubusercontent.com/u/76435699?s=460&u=1da322b377a64cb19e3f50921c4322b15cb76a1a&v=4' />
            <div class="text">
                <h2 class="animate-text">Haneen Khasawneh</h2>
                <a href="https://github.com/HaneenKh88" target="_blank"><i
                        class="fab fa-github fa-3x circle-icon animate-text "></i></a>
            </div>
        </div>
        <div class="tile ">
            <img
                src='https://avatars.githubusercontent.com/u/72374558?s=460&u=9fc8426f12834106d9a8dc01e657d2687e0c18c3&v=4' />
            <div class="text">
                <h2 class="animate-text">Hossam haddad</h2>
                <a href="https://github.com/Hossamhaddad" target="_blank"><i
                        class="fab fa-github fa-3x circle-icon animate-text "></i></a>
            </div>


        </div>
    </div>


</main>