<main>
    <div class="login-box">
        <h2>Contact Us</h2>
        <h3>Email us and keep upto date with our latest news</h3>    
                <form action="/feedback" method="POST" id="feedback">
          <div class="user-box">
            <input type="text" name="username" required="" autocomplete="off">
            <label>Your Name</label>
          </div>
          <div class="user-box">
            <input type="text" name="feedback" required="" autocomplete="off">
            <label>Message</label>
          </div>
          <a   onclick="$('#feedback').submit()">
          <span></span>
          <span></span>
          <span></span>
          <span></span> Submit</a>
          <button style="display: none;"></button>
        </form>
       
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>

    <form action="/feedback" method="GET" id="comments-form">
        <button id="view-comments">View Reviews</button>
        <br>
        <br>
    </form>
    <% if (typeof users !="undefined") { %>
    <div class="comments-div">
        <% users.forEach(user => {  %>
        <p><b><%= user.username %>: </b> <%= user.feedback %> </p>
        <% }); %> 
    </div>

    
<script>
 
        $('.comments-div').show();


</script>
    <% } %>
</main>
