<main>
    <div class="signup-form">
    
        <form action="/feedback" class="signup" method="POST">
            <br>
            <br>
            <span id="title">Contact Us</span>
            <br>
            <br>
            <span>We Would Like To Hear From You</span>
            <br>
            <br>
            <input type="text" name="username" id="username" placeholder="Full Name">
            <br>
            <br>
            <input type="text" name="feedback" id="feedback" placeholder="Message">
            <br>
            <br>
            <input type="submit"  id="submit-signup">
            <br>
            <br>
            <br>
        </form>

        <form action="/feedback" method="GET">
              <button>Show Reviews</button>

              
        </form>

    </div>
    


</main>