<main>

    <% if (typeof user_id !='undefined' ) { %>
        <script>
            localStorage.setItem('user_id', '<%= user_id %>')

            window.location.replace("/")
        </script>

        <% } %>


            <div class="index-wrapper">
                <h2 class="hero-headline typography-hero-headline" style="text-align: center;">Unlimited Movies from
                    Anywhere</h2>

                <div class="search-div">
                    <!-- CHANGE THE ACTION & PUT METHOD -->
                    <form action="/search" method="GET">
                        <br>
                        <br>
                        <div class="input-container">
                            <input type="text" name="search" placeholder="Search" class="index-main-search">
                            <i class="Search-class" onclick="this.form.submit"></i>

                        </div>
                    </form>
                </div>
            </div>
            <script>
                $('#search-form').css("display", "none")
                $('body').css("background-image", "url(https://wallpapercave.com/wp/VmN49xl.jpg)")
            </script>


</main>