<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../style/layout.css">
    <link rel="stylesheet" href="../style/module.css">
    <title>Document</title>
</head>
<body>
    <div class="sidenav">
        <a href="#"><i class="fa fa-home"></i><p class="text">Home</p></a> 
        <a href="#"><i class="fa fa-user"></i><p class="text">Account</p></a> 
        <a href="#"><i class="far fa-heart"></i><p class="text">Favorite List</p></a> 
        <a href="#"><i class="fa fa-address-card"></i><p class="text">About Us</p></a>
        <a href="#"><i class="fa fa-envelope"></i><p class="text">Contact Us</p></a> 
        <a href="#"><i class="fas fa-cogs"></i><p class="text">Settings</p></a> 
    </div>
    <header>
        <div class="header">
            <img src="images/moviees-removebg-preview.png" alt="logo" />
            <h1>The Movie Star</h1>
              <div class="search-container">
                <form action="" id="search-form">
                    <input type="search" placeholder="Search">
                    <i class="fa fa-search"></i>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="login-form">
            <form action="" class="signup">
                <br>
                <br>
                <input type="text" name="userEmail" id="userEmail" placeholder="User Name or E-mail">
                <br>
                <br>
                <input type="password" name="password" id="password" placeholder="Password">
                <br>
                <br>
                <input type="submit" value="Login" id="submit-login">
                <br>
                <br>
            </form>
        </div>
    </main>
</body>
</html>