
<main>
    <div class="movie_card" id="bright">
        <div class="info_section">
          <div class="movie_header">
            <img class="locandina" src=<%= random.image %> >
            <h1><%= random.title %></h1>
            <h4><%= random.year %></h4>
          </div>
          <div class="movie_desc">
            <p class="text">
              <%= random.plot %>
            </p>
          </div>
            </div>
            </div>
          </main>
          
    
