<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidenav">
        <a class="active" href="#"><i class="fa fa-home"></i></a> 
        <a href="#"><i class="fa fa-search"></i></a> 
        <a href="#"><i class="fa fa-user"></i></a> 
        <a href="#"><i class="fa fa-address-card"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a> 
    </div>
    <header>
        <div class="header">
            <img src="images/moviees-removebg-preview.png" alt="logo" />
            <h1>My website name</h1>
            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
        </div>
    </header>
</body>
</html>